#custom-bootstrap-window1,
#custom-bootstrap-window2,
#custom-bootstrap-window3 {
    min-height: 400px;
    border-radius: 12px;
    background-color: rgba(227, 218, 218, 1);
}

#content_main {
    background-image: url("../pictures/background.jpg");
    /*position: fixed;
    z-index: 0;*/
}

.wallComment {
    height: 20px;
    font-size: 15px;
    width: 90%;
    margin-left: 10px;
}

.wallName {
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    text-decoration: none;
}

.wallTime {
    font-size: 10px;
    text-align: left;
}

#custom-bootstrap-window1,
#custom-bootstrap-window2,
#custom-bootstrap-window3,
#custom-bootstrap-footer .navbar-default.navbar-brand,
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgb(0, 0, 0);

}

/*#custom-bootstrap-window1 ,
#custom-bootstrap-window2 ,
#custom-bootstrap-window3 ,*/
#custom-bootstrap-footer,
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(227, 218, 218, 1);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(227, 218, 218, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(227, 218, 218, 1) 100%);
    border-width: 2px;
    border-radius: 12px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(227, 218, 218, 1);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(227, 218, 218, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(227, 218, 218, 1) 100%);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}

#custom-bootstrap-footer.navbar-toggle,
#custom-bootstrap-menu .navbar-toggle {
    border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #e3dada;
}

.btn-custom {
    background: rgba(219, 197, 197, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(219, 197, 197, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(219, 197, 197, 1) 100%);
    border-color: rgba(173, 166, 166, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    border-radius: 12px;
    border-width: 1px;
}

.btn-custom:hover {
    background: rgba(235, 235, 235, 1);
    border-color: rgba(173, 173, 173, 1);
    color: rgba(51, 51, 51, 1);
}

.btn-custom:active, .btn-custom:focus {
    background: rgba(235, 235, 235, 1);
    border-color: rgba(173, 173, 173, 1);
    color: rgba(51, 51, 51, 1);
}